version: "3.9"

services:
    postgres:
        image: ${POSTGRES_IMAGE}
        restart: always
        ports:
            - ${POSTGRES_PORT}:5432
        container_name: ${POSTGRES_IMAGE}
        env_file:
            - .env
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        networks:
            - app-network

    qini-api:
        image: ${APP_IMAGE}
        restart: unless-stopped
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - ${APP_PORT}:8000
        container_name: ${APP_NAME}
        env_file:
            - .env
        environment:
            - NODE_ENV=production
        command: npm start
        networks:
            - app-network
        depends_on:
            - postgres

networks:
    app-network:
        driver: bridge
